services:
  postgres:
    image: "postgres:alpine"
    container_name: "postgres_db_converter"
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./sql_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
